@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;600;700;900&display=swap');

html{font-family: 'Nunito', sans-serif;
    background: url('/img/hatter.bmp');
    scroll-behavior:smooth;}

/* TEXT */
h2{font-size: 24px; font-weight: 700; text-shadow:slategray 0px 3px 4px; color:black;
    margin: 0px;}
h3{font-size: 20px; font-weight: 600;}
h4{font-size: 20px; font-weight: 700;
    margin: 20px;}
p{font-size: 18px; font-weight: 300; margin: 20px;}  
.box h4,caption{text-shadow:slategray 0px 3px 5px; color:black;}
small{margin: 20px;}

/* DIV BOX */
.box{
    border:solid 1px slategray;box-shadow: black 10px 10px 10px;
    background-color:aliceblue;
    margin: 30px;}
.header1{
    background-color: rgba(207, 234, 248,1);
    padding: 15px 0px 15px 20px;}
.header2{
    background-color: rgba(207, 234, 248,0.55);
    padding: 5px 0px 5px 20px;}
.header2 p{
    margin: 0px;}

/* TABLE & LIST */
li{ margin-left: 0px; list-style: none;}
caption{font-size: 22px; font-weight: 700; margin: 15px 0 0;}
tr{font-size: 18px; font-weight: 300;}
.box table{width: 100%}
.membersTable{width: 100%;
    margin: 0px auto;}
.membersTable td{padding: 5px 15px; width: 50%;}
.membersTable tr td:first-child{text-align:right;}
.membersTable tr td:last-child{text-align:left;}

/* IMAGE */
img { box-shadow: slategray 5px 5px 5px;}
.aboutMe{height: 30em;}
.photoBox{margin: 20px;}
.aboutUs{width: 100%;}
.rider{display: block; width: 50%; margin: 0 auto;}
.photos img{display: block; width: 75%; margin: 3% auto;}

/* ANCHOR */
a{text-decoration-line:none; text-shadow:slategray 0px 0px 3px; color: darkgray;}
a:hover{text-shadow:slategray 0px 0px 2px; color:black;}
a:active{text-shadow:black 0px 0px 3px; color:black;}

video{margin: 20px;}