:root {
  --page-bg-color: rgb(209, 220, 221);

  --board-bg-color: rgb(82, 138, 187);

  --thin-line: 1px;
  --thick-line: 4px;
  /* --line-color: rgb(240, 255, 255); */
  --line-color: white;
  --text-color: black;

  --cell-size: 3rem;

  --report-number: var(--board-bg-color);

  /* --cell-input: coral; */
  --cell-input: darkblue;
  --cell-output: aliceblue;
  --cell-selected-bg: deepskyblue;

  --btn-color: aliceblue;
  --btn-bg-color: var(--board-bg-color);
  --btn-color-hover: var(--btn-bg-color);
  --btn-bg-color-hover: var(--btn-color);

  --gray-scale-50: rgba(0, 0, 0, 50%);
  --gray-scale-35: rgba(0, 0, 0, 35%);
  --gray-scale-25: rgba(0, 0, 0, 25%);

  --text-shadow: 0 0.5rem 0.5rem var(--gray-scale-50);
  --shadow-small: 0 0 0.5rem var(--gray-scale-35);
  --shadow-deep: 0 0.5rem 1rem var(--gray-scale-50);
  --shadow-inner: 0 0 0.5rem var(--gray-scale-25);

  --text-fontsize-large: 2rem;
  --text-fontsize-normal: 1.2rem;
  --text-fontsize-small: 1rem;
  --text-fontsize-smallest: 0.8rem;
}

@media (max-width: 426px) {
  html {
    font-size: 12px;
  }
}
