[class^="skill_"] {
  transform: translateX(-150%);
  opacity: 0;
  animation: moveSkill 1s forwards;
}

.skill_01 {
  animation-delay: 1s;
}

.skill_02 {
  animation-delay: 1.2s;
}

.skill_03 {
  animation-delay: 1.4s;
}

.skill_04 {
  animation-delay: 1.6s;
}

.skill_05 {
  animation-delay: 1.8s;
}

.skill_06 {
  animation-delay: 2s;
}

.skill_07 {
  animation-delay: 2.2s;
}

.skill_08 {
  animation-delay: 2.4s;
}

.skill_09 {
  animation-delay: 2.6s;
}
