@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");

@import "./animations.css";

html {
  scroll-behavior: smooth;
  font-family: "Nunito", sans-serif;
  user-select: none;
  font-size: 16px;
}

body {
  margin: 0;
  height: 100vh;
  background-image: url("./hatter.bmp");
  background-attachment: fixed;
}

* {
  box-sizing: border-box;
}

#content {
  max-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hidden {
  visibility: hidden;
  /* display: none; */
}

.fa-spinner {
  animation: spin 1s infinite ease;
}

a {
  text-decoration-line: none;
  color: black;
}

header {
  position: relative;
  height: 6rem;
  width: 100%;
}

.main__header {
  position: absolute;
  top: 0;
  font-family: "Fredericka the Great", sans-serif;
  font-weight: 300;
  font-size: 3rem;
  line-height: 1;
  margin: 0;
  /* margin: 0.75rem 0 1rem; */
  animation: moveHeader 0.75s;
  animation-fill-mode: forwards;
}

.skills__box {
  position: fixed;
  height: 100%;
  width: 25%;
  left: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.skill {
  margin: 1rem;
  width: 3rem;
}

[class^="m0"] {
  transform: translateX(-150%);
  opacity: 0;
}

.m01 {
  animation: moveSkill 1s 2s;
  animation-fill-mode: forwards;
}

.m02 {
  animation: moveSkill 1s 2.2s;
  animation-fill-mode: forwards;
}

.m03 {
  animation: moveSkill 1s 2.4s;
  animation-fill-mode: forwards;
}

.m04 {
  animation: moveSkill 1s 2.6s;
  animation-fill-mode: forwards;
}

.m05 {
  animation: moveSkill 1s 2.8s;
  animation-fill-mode: forwards;
}

.m06 {
  animation: moveSkill 1s 3s;
  animation-fill-mode: forwards;
}

.m07 {
  animation: moveSkill 1s 3.2s;
  animation-fill-mode: forwards;
}

.m08 {
  animation: moveSkill 1s 3.4s;
  animation-fill-mode: forwards;
}

.portrait__box {
  position: fixed;
  height: 100vh;
  width: 30vw;
  right: 0;
  top: 0;
  animation: moveImage 2s;
  animation-fill-mode: forwards;
  z-index: -10;
}

.portrait__box img {
  filter: contrast(50%);
  height: 100%;
  object-fit: scale-down;
  object-position: right;
}

.list__box {
  border-radius: 0.25rem;
  box-shadow: 0 0px 15px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  padding: 1.25rem;
  animation: moveList 1s;
  animation-fill-mode: forwards;
  overflow-y: scroll;
}

.link {
  display: block;
  font-size: 1.25rem;
  transition: all 0.2s ease-in-out;
  padding: 0.25rem 0.5rem;
  line-height: 1.7rem;
  border-radius: 0.25rem;
}

.link:hover {
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.75);
  transform: scale(1.015);
}

small {
  float: right;
  color: aliceblue;
  padding: 0 0 0 1.5rem;
}

footer {
  position: relative;
  height: 4rem;
  width: 100%;
}

.footer__content {
  margin: 0 auto 0;
  display: flex;
  gap: 1rem;
  align-items: center;
  position: absolute;
  transform: translateY(100%);
  font-weight: 300;
  font-size: 1rem;
  animation: moveFooter 1s 1.2s;
  animation-fill-mode: forwards;
}

.grow {
  transition: all 0.2s ease-in-out;
}

.grow:hover {
  transform: scale(1.2);
}

@media screen and (max-width: 424px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 374px) {
  html {
    font-size: 12px;
  }
}

@media screen and (max-width: 320px) {
  html {
    font-size: 10px;
  }
}
