@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

* {
  box-sizing: border-box;
}

a {
  text-decoration-line: none;
  color: black;
}

html {
  scroll-behavior: smooth;
  font-family: 'Nunito', sans-serif;
  user-select: none;
  font-size: 16px;
}

body {
  max-width: 100vw;
  max-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('./hatter.bmp');
}

header {
  text-align: center;
}

@keyframes moveHeader {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

.main__header {
  font-family: 'Fredericka the Great', sans-serif;
  font-weight: 300;
  font-size: 3rem;
  margin: 1rem 0 1.75rem;
  animation: moveHeader 0.75s;
  animation-fill-mode: forwards;
}

/* .alt__header {
  font-family: 'Architects Daughter', sans-serif;
  font-weight: 300;
  font-size: 2rem;
  margin: 0 0 1rem;
} */

.skills__box {
  position: fixed;
  height: 100%;
  width: 25%;
  left: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.skill {
  transition: all 0.2s ease-in-out;
  margin: 1rem;
  width:3rem;  
}

.skill:hover {
  transform: scale(1.2);
}

@keyframes moveSkill {
  0% {
    transform: translateX(-300%);
    opacity:0;
  }
  
  100% {
    transform: translateX(0%);
    opacity:1;
  }
}

[class^="m0"] {
  transform: translateX(-300%);
}

.m01 {
  animation: moveSkill 1s 2s;
  animation-fill-mode: forwards;
}
.m02 {
  animation: moveSkill 1s 2.2s;
  animation-fill-mode: forwards;
}
.m03 {
  animation: moveSkill 1s 2.4s;
  animation-fill-mode: forwards;
}
.m04 {
  animation: moveSkill 1s 2.6s;
  animation-fill-mode: forwards;
}
.m05 {
  animation: moveSkill 1s 2.8s;
  animation-fill-mode: forwards;
}
.m06 {
  animation: moveSkill 1s 3s;
  animation-fill-mode: forwards;
}
.m07 {
  animation: moveSkill 1s 3.2s;
  animation-fill-mode: forwards;
}

.portrait__box {
  position: fixed;
  height: 100%;
  width: 40%;
  left: 60%;
}

@keyframes moveImage {
  0% {
    opacity: 0;
    transform: translateX(60%);
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

.portrait__box img {
  animation: moveImage 2s;
  animation-fill-mode: forwards;
  filter: contrast(50%);
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: left;
}

section {
  position: fixed;
  top: 12%;
}

@keyframes moveList {
  0% {
    transform: translateY(200%);
  }

  100% {
    transform: translateY(0%);
  }
}

.list__box {
  border-radius: 0.25rem;
  box-shadow: 0 0px 15px rgba(0, 0, 0, 0.5);
  background-color: transparent;
  backdrop-filter: blur(5px);
  padding: 1.25rem;
  animation: moveList 1s;
  animation-fill-mode: forwards;
}

.link {
  display: block;
  font-size: 1.25rem;
  transition: all 0.2s ease-in-out;
  padding: 0.25rem 0.5rem;
  line-height: 1.7rem;
  border-radius: 0.25rem;
}

.link:hover {
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.75);
  transform: scale(1.015);
}

small {
  float: right;
  color: aliceblue;
  padding: 0 0 0 1.5rem;
}

@keyframes moveFooter {
  0% {
    transform: translateY(200%);
  }

  100% {
    transform: translateY(0%);
  }
}

footer {
  position: fixed;
  bottom: 0%;
}

.footer__text {
  transform: translateY(200%);
  font-weight: 300;
  font-size: 1rem;
  margin-bottom: 1.5rem;
  animation: moveFooter 1s 1.2s;
  animation-fill-mode: forwards;
}

.badge {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0.75rem 0;
  transition: all 0.2s ease-in-out;
}

.badge:hover {
  transform: scale(1.2);
}

@media screen and (max-width:424px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width:374px) {
  html {
    font-size: 12px;
  }
}

@media screen and (max-width:320px) {
  html {
    font-size: 10px;
  }
}