@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

body {
  margin: 0;
  height: 100vh;
  width: 100vw;

  user-select: none;
  font-family: "Nunito", sans-serif;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

canvas {
  display: block;
  background-color: black;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 100%);
  border-radius: 1rem;
  /* border-radius: 50%; */
  width: 75%;
  height: 50%;
}

.message,
.info {
  text-align: center;
  color: deepskyblue;
  font-size: 1rem;
  white-space: pre-line;
  line-height: 1;
}

.message {
  height: 1rem;
}

.info {
  height: 2rem;
}

.btn {
  background-color: dodgerblue;
  color: aliceblue;
  padding: 0.25rem 0.75rem 0.25rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: 700;
  min-width: 2.5rem;
  text-align: center;
}

.slider {
  color: deepskyblue;
  display: flex;
  justify-content: center;
  gap: 5px;
  width: 75%;

  &>span {
    text-align: end;
    width: 2rem;
  }

  &>input {
    flex: 1 1 auto;

  }
}