body {
  margin: 0;
  height: 100vh;
  width: 100vw;

  user-select: none;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

canvas {
  display: block;
}

.message {
  text-align: center;
  color: deepskyblue;
  font-size: 1rem;
}

.btn {
  background-color: dodgerblue;
  color: aliceblue;
  padding: 0.25rem 0.75rem 0.25rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
