@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: 'Nunito', sans-serif;
  user-select: none;
  /* font-size: 16px; */
}

.container {
  width: 50%;
  margin: 0 auto;
}

.x, .y, .z {
  font-weight: bold;
}

.x span, .y span, .z span {
  /* margin-right: 5rem; */
  float: right;
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;   
  }
}