@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

html {
  font-family: "Nunito", sans-serif;
  user-select: none;
}

body {
  margin: 0;
  width: 100dvw;
  height: 100dvh;
}

canvas {
  display: block;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  padding: 10px;
  gap: 12px;

  &:hover>.item {
    visibility: visible;
    opacity: 1;
  }
}

.item {
  border-radius: 5px;
  visibility: hidden;
  opacity: 0;
  transition: 300ms ease-in-out;
  transition-property: opacity, visibility;
  padding: 5px 10px;

  &:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 100%);
  }

  &:active {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 50%);
  }
}

.slider {
  background-color: lightgray;
  color: black;
  display: flex;
  gap: 5px;

  &>span {
    text-align: end;
    width: 2rem;
  }
}

.btn {
  cursor: pointer;
}

.btn__mode {
  color: black;
  background-color: skyblue;
  text-align: center;
  width: 4.75rem;
}

.btn__description {
  color: black;
  background-color: lightgray;
}

.btn__rnd {
  color: black;
  background-color: lightsalmon;
}

.btn__empty {
  color: black;
  background-color: lightblue;
}