html,
body {
  margin: 0;
  padding: 0;
  width: 100dvw;
  height: 100dvh;
}

canvas {
  display: block;
}

* {
  user-select: none;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: end;
  padding: 10px;
  gap: 10px;

  &:hover>.item {
    visibility: visible;
    opacity: 1;
  }

  .item {
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
    transition: all 300ms ease-in-out;
    padding: 5px 10px;
  }

  .slider {
    background-color: lightgray;
    color: black;
    display: flex;
    gap: 5px;
  }

  .btn {
    cursor: pointer;
  }

  .btn__mode {
    color: black;
    background-color: skyblue;
  }

  .btn__description {
    color: black;
    background-color: lightgray;
  }
}